<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />




    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name="liveWallpaper.myapplication.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon200"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name="liveWallpaper.myapplication.ActivitySplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <service
            android:name="liveWallpaper.myapplication.OpenGLES2WallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>

        <activity
            android:name="liveWallpaper.myapplication.ActivityImageViewer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="liveWallpaper.myapplication.ActivityStaticWallpapers"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />
        <activity
            android:name="liveWallpaper.myapplication.ActivityEffectsViewer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar2" />
        <activity
            android:name="liveWallpaper.myapplication.ActivityParticlesViewer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar2" />
        <activity
            android:name="liveWallpaper.myapplication.ActivityWallpaperViewer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar2" />
        <activity
            android:name="liveWallpaper.myapplication.ActivityApply"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar" />


        <receiver android:name=".receivers.AlarmReceiverr" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>